.rendered_html * {
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
}
.container { width:100% !important;}
.plotly-graph-div.js-plotly-plot {margin:0 auto;}

.rendered_html h1, 
.rendered_html h2,
.rendered_html h3 {
    font-weight: 700 !important;
    text-align: center;
    width:720px;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 16px;
} 
.rendered_html h1 {
    font-size:58px !important;
    margin:0;
    width:100%;
}

.rendered_html h2 {
    font-size:34px !important;
    margin-top:0 !important;
    margin:0;
    width:100%;
}

.rendered_html .footer h2 {
    margin-top:20px !important;
}

.rendered_html .footer {
  margin-bottom: 64px;
}

.rendered_html h3 {
    font-size:28px !important;
    margin-top: 16px;
}

.deaths {
    display: flex;
    width:720px;
    flex-flow: row no-wrap;
    justify-content: space-evenly;
    justify-content: center;
    margin: 0 auto;
}

.rendered_html {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: end;
  display: flex;
}

.labels {
    display: flex;
    width:720px;
    justify-content: center;
}

.ui.obituary.labels {
    flex-flow: column wrap;
}

.ui.obituary.labels .label {
    display: flex;
    font-size: 1.7rem;
    text-transform: uppercase;
    justify-content: space-between;
}

.ui.ranking.labels,
.ui.players.labels  {
    flex-flow: wrap;
}

.ui.ranking.labels .label,
.ui.players.labels .label {
  flex: 0 0 48%;
  margin: 1%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  font-size: 1.35rem;
}


.ui.label {
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    color: black !important;
}